<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <context:annotation-config />

    <bean id="datasetSimpleDAO" class="eu.freme.common.persistence.dao.DatasetSimpleDAO"/>

    <bean id="config" class="org.elinker.core.api.java.Config">
        <property name="sparqlEndpoint">
            <value>http://rv2622.1blu.de:8890/sparql</value>
        </property>
        <property name="solrURI">
            <value>http://rv2622.1blu.de:8984/solr/</value>
        </property>
        <property name="languages">
            <value>de</value>
        </property>
        <property name="modelsLocation">
            <value>C:/Users/jnehring/workspaces/freme/freme-ner-models/</value>
        </property>
        <property name="domainsFile">
            <value>src/main/resources/domains.csv</value>
        </property>
    </bean>

    <!--<context:component-scan base-package="eu.freme.common.persistence" />-->
    <jpa:repositories base-package="eu.freme.common.persistence.repository"></jpa:repositories>


    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:/persistence.xml" />
        <property name="persistenceUnitName" value="datasetPersistenceUnit" />
        <property name="dataSource" ref="basicDataSource" />
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
        <property name="jpaDialect" ref="jpaDialect" />
    </bean>

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="MYSQL" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
    </bean>

    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <property name="dataSource" ref="basicDataSource" />
        <property name="jpaDialect" ref="jpaDialect" />
    </bean>

    <bean id="basicDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/freme" />
        <property name="username" value="root" />
        <property name="password" value="qwe123" />
        <property name="initialSize" value="3" />
        <property name="maxActive" value="10" />
    </bean>

    <bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="basicDataSource"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
            </value>
        </property>
    </bean>

</beans>