<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="1.0">
    <persistence-unit name="datasetPersistenceUnit" transaction-type="RESOURCE_LOCAL" >
        <class>eu.freme.common.persistence.model.Dataset</class>
        <class>eu.freme.common.persistence.model.DatasetSimple</class>
        <class>eu.freme.common.persistence.model.Template</class>
        <class>eu.freme.common.persistence.model.User</class>
        <class>eu.freme.common.persistence.model.Token</class>
        <class>eu.freme.common.persistence.model.Pipeline</class>
        <class>eu.freme.common.persistence.model.Filter</class>
        <class>eu.freme.common.persistence.model.OwnedResource</class>
        <properties>
            <property name="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy"/>
        </properties>
    </persistence-unit>
</persistence>